[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
sphinx = "*"
setuptools-scm = "*"
pre-commit = "*"

[packages]
requests = "*"
geojson = "*"
click = "*"

[requires]
python_version = "3.10"
