[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
coverage = "*"

[packages]
requests = "*"
geojson = "*"

[requires]
python_version = "3.7"
